[Desktop Entry]
Name=Simple Calculator
Version=1.0
Comment=GTK Calculator
Exec=/usr/bin/simpleCalc
Icon=/usr/share/pixmaps/calc.ico
Terminal=false
Type=Application
StartupWMClass=simpleCalc
